@charset "utf-8";
/* CSS Document */

body {
	background-color:#009;
	text-align:center;
	background-image:url(Bilder/BG.png);
	background-size:620px;
	background-repeat:repeat-y;
	background-position:center;
	width:580px;
	margin:auto;	
}
#header {
	width:700px;
	text-align:center;
	position:relative;
	right:60px;
	margin-bottom:20pX;
}
#logo {
	background-image:url(Bilder/BG%201.png);
	background-size:contain;
	background-repeat:repeat-x;
	border-style:solid;
	border-color:#00F;
	border-width:5px;
	border-radius:4px;
	margin-bottom:10px;
}
#page , #city , #info , .news {
	font-size:18px;
}
#page p,form {
	padding:15px;
	margin:5px;
	background-color:#FFF;
	border-style:solid;
	border-width:3px;
	border-radius:3px;
}
#page h2 {
	background-image:url(Bilder/HeaderBG.png);
	background-size:contain;
	padding-top:5px;
	padding-bottom:5px;
	background-repeat:no-repeat;
	margin:5px;
	background-position:center;
}
#info h2 {
	background-image:url(Bilder/HeaderBG.png);
	background-size:contain;
	background-repeat:no-repeat;
	margin:5px;
	margin-top:2px;
	background-position:bottom;
}
#page h3 {
	background-image:url(Bilder/HeaderBG.png);
	background-size:contain;
	padding-top:5px;
	padding-bottom:5px;
	background-repeat:no-repeat;
	margin:5px;
	background-position:center;
}
#page img {
	width:250px;
	height:150px;
	border-style:solid;
	border-width:2px;
	border-color:#00F;
	float:right;
}
#footer {
	background-color:#ccc;
	border-style:solid;
	border-color:#000;
	border-radius:3px;
	border-width:3px;
	margin-top:0px;
	margin-bottom:30px;
}
form {
	border-style:solid;
}
.news p {
	padding:15px;
	background-color:#FFF;
	border-style:solid;
	border-width:3px;
	border-radius:3px;
}
.news h2 {
	background-image:url(Bilder/HeaderBG.png);
	background-size:contain;
	padding-top:5px;
	padding-bottom:5px;
	background-repeat:no-repeat;
	margin-top:5px;
	background-position:center;
}
.news img {
	border-style:solid;
	border-color:#000;
	border-width:3px;
	border-radius:2px;
	margin:5px;
}
.news b {
	font-size:24px;
	text-decoration:underline;
}
#city p {
	padding:15px;
	margin:5px;
	background-color:#FFF;
	border-style:solid;
	border-width:3px;
	border-radius:3px;
	float:left;
	width:534px;
}
#city img {
	width:250px;
	height:150px;
	border-style:solid;
	border-width:2px;
	border-color:#00F;
	float:right;
}
#city h2 {
	background-image:url(Bilder/HeaderBG.png);
	background-size:contain;
	background-repeat:no-repeat;
	margin:5px;
	margin-top:2px;
}
.link {
	background-image:url(Bilder/HeadermenuBG.png);
	background-repeat:repeat-x;
	font-size:20px;
	padding-top:10px;
  padding-bottom:10px;
  padding-left:0px;
  padding-right:0px;
	border-style:solid;
	border-radius:2px;
	border-width:2px;
  border-color:#00f;
	color:#DDD;
	text-align:center;
	text-decoration:none;
  width:88px;
  display:inline-block;
}
.link:hover {
	background-image:url(Bilder/HeadermenuBG1.png);
	color:#FFF;
}
/*.link {
	background-image:url(Bilder/HeadermenuBG.png);
	background-size:80x50px;
	background-repeat:repeat-x;
	font-size:24px;
	padding:10px;
	border-style:solid;
	border-radius:2px;
	border-width:2px;
	color:#DDD;
	text-align:center;
	text-decoration:none;
}
.link:hover {
	background-image:url(Bilder/HeadermenuBG1.png);
	background-size:80x50px;
	background-repeat:repeat-x;
	font-size:24px;
	padding:10px;
	border-style:solid;
	border-radius:2px;
	border-width:2px;
	color:#FFF;
	text-align:center;
	text-decoration:none;
}*/
#info a {
	background:#0064FF;
	background-size:564px 30px;
	background-position:top;
	border-style:solid;
	border-width:2px;
	border-bottom-color:#333;
	border-right-color:#333;
	border-top-color:#FFF;
	border-left-color:#FFF;
	float:right;
	width:564px;
	height:22px;
	text-align:center;
	padding-bottom:4px;
	padding-top:3px;
	margin-bottom:4px;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	position:relative;
	color:#FFF;
	right:6px;
}
#info a:hover {
	background:#008FFF;
	background-size:564px 30px;
	position:relative;
}
#info li {
	list-style:none;
	color:000;
}
#texture {
	border:#03D;
	border-width:4px;
	border-style:solid;
	border-radius:3px;
	margin-bottom:10px;
	margin-left:10px;
}
#dl a {
	color:#000;
	text-decoration:underline;
	font-size:18px;
}
#dl a:hover {
	color:#000;
	text-decoration:none;
	font-size:18px;
}
#ansok {
	//text-align:left;
}
.stats {
	text-align:left;
}
samp {
	font-size:16px;
}
.clickable {
	cursor: pointer;
}
.hidden {
	display: none;
}
.ruletitle {
	font-size: 20px;
}
#serverregler p {
	text-align: center;
}
#serverregler {
	position: relative;
	margin-left: -40px;
}
.face {
	float: left;
	margin: 10px;
}
#status {
    color: #FFFF00;
    font-size: 1.5em;
    font-family:'minecraftfont';
    text-shadow:3px 3px #3F3F00;
    padding: 40px;
    position: absolute;
}
.pop {
    animation: pop 0.58s infinite;
    -webkit-animation: pop 0.58s infinite;
}
@keyframes pop {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}
@-webkit-keyframes pop {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}
.tilt {
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
	position: absolute;
	z-index: 5;
	top: 125px;
	left: 325px;
	font-size: 20pt;
}
.medlem {
	float: left;
}
#serverstats {
  position: fixed;
  text-align: left;
  top: 50px;
  right: 5%;
  color: white;
}

#aktivitet_holder {
  margin-top: 10px;
}

#aktivitet {
  height: 450px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.title {
  color: grey;
}

#map {
  width: 100%;
}

#map_full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
#scroll {
  border-style: none !important;
  width: 100% !important;
  height: 400px !important;
  position: relative;
  bottom: 20px;
}
